# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
pip install git+https://github.com/thearn/pygmaps-extended

Collecting git+https://github.com/thearn/pygmaps-extended
  Cloning https://github.com/thearn/pygmaps-extended to c:\users\bekel\appdata\local\temp\pip-req-build-6zn06tct
Requirement already satisfied (use --upgrade to upgrade): pygmaps-enhanced==0.2.0 from git+https://github.com/thearn/pygmaps-extended in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from pygmaps-enhanced==0.2.0) (1.19.2)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from pygmaps-enhanced==0.2.0) (3.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->pygmaps-enhanced==0.2.0) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib->pygmaps-enhanced==0.2.0) (1.15.0)
Building wheels for collected packages: pygmaps-enhanced
  Building wheel for pygmaps-enhanced (setup.py): started
  Building wheel for pygmaps-enhanced (setup.py): finished with status 'done'
  Created wheel for pygmaps-enhanced: filename=pygmaps_enhanced-0.2.0-py3-none-any.whl size=8354 sha256=0a302bc9b6807475d4434c11cd1c42a6cbcf91708d38eca55a4980bed0908650
  Stored in directory: C:\Users\bekel\AppData\Local\Temp\pip-ephem-wheel-cache-g00fc0c1\wheels\94\89\be\d2dd0a429721b67e5de61979f3be728a1f50a31f6fe64f326f
Successfully built pygmaps-enhanced
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install gmaps

Requirement already satisfied: gmaps in c:\programdata\anaconda3\lib\site-packages (0.9.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipywidgets>=7.0.0 in c:\programdata\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: ipython>=5.3.0 in c:\programdata\anaconda3\lib\site-packages (from gmaps) (7.19.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\programdata\anaconda3\lib\site-packages (from gmaps) (5.0.5)
Requirement already satisfied: geojson>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from gmaps) (1.15.0)

Requirement already satisfied: ipykernel>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.8)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.7.2)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (50.3.1.post20201107)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.8)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: jupyter-client in c:\programdata\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: tornado>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: notebook>=4.4.1 in c:\programdata\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.4)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: pyzmq>=13 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: nbconvert in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.1)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: Send2Trash in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: cffi>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.1)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: pywinpty>=0.5 in c:\programdata\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: nest-asyncio in c:\programdata\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: async-generator in c:\programdata\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import pygmaps
import gmaps.datasets
from pprint import pprint
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
data = pd.read_csv("../Weatherpy/cities.csv")
data.head()

,City,Country,Lat,Lng,Max Temp,Pressure,Humidity,Cloudiness,Wind Speed,Date
0,Tigil',RU,57.8000,158.6667,34.41,1010,80,0,3.76,1615873959
1,Codrington,AU,-38.2667,141.9667,62.76,1024,65,39,10.54,1615873959
2,Mar del Plata,AR,-38.0023,-57.5575,70.00,1013,88,100,9.22,1615873901
3,Casino,AU,-28.8667,153.0500,69.80,1020,83,100,4.61,1615873960
4,Hithadhoo,MV,-0.6000,73.0833,82.29,1011,72,99,8.16,1615873960

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
dataNA = data.dropna()
dataNA.head()

,City,Country,Lat,Lng,Max Temp,Pressure,Humidity,Cloudiness,Wind Speed,Date
0,Tigil',RU,57.8000,158.6667,34.41,1010,80,0,3.76,1615873959
1,Codrington,AU,-38.2667,141.9667,62.76,1024,65,39,10.54,1615873959
2,Mar del Plata,AR,-38.0023,-57.5575,70.00,1013,88,100,9.22,1615873901
3,Casino,AU,-28.8667,153.0500,69.80,1020,83,100,4.61,1615873960
4,Hithadhoo,MV,-0.6000,73.0833,82.29,1011,72,99,8.16,1615873960

In [7]:
locations = dataNA[['Lat', 'Lng']].astype(float)
weights = dataNA['Humidity'].astype(float)

fig = gmaps.figure()
heat_Layer = gmaps.heatmap_layer(locations, weights=weights , dissipating=False, max_intensity=5,
                                 point_radius = 1)
fig.add_layer(heat_Layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
dataNA.head()

,City,Country,Lat,Lng,Max Temp,Pressure,Humidity,Cloudiness,Wind Speed,Date
0,Tigil',RU,57.8000,158.6667,34.41,1010,80,0,3.76,1615873959
1,Codrington,AU,-38.2667,141.9667,62.76,1024,65,39,10.54,1615873959
2,Mar del Plata,AR,-38.0023,-57.5575,70.00,1013,88,100,9.22,1615873901
3,Casino,AU,-28.8667,153.0500,69.80,1020,83,100,4.61,1615873960
4,Hithadhoo,MV,-0.6000,73.0833,82.29,1011,72,99,8.16,1615873960

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
DataFram_df = pd.DataFrame(dataNA, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (DataFram_df["Max Temp"] <= 80) & (DataFram_df["Max Temp"] > 50)
wind_speed = DataFram_df["Wind Speed"] > 10
cloudiness = DataFram_df["Cloudiness"] == 90


NewdataNA = DataFram_df[max_temp & wind_speed & cloudiness]


NewdataNA.dropna()
NewdataNA.head()

        City  Max Temp  Wind Speed  Cloudiness
34     Bluff      55.0       18.99          90
99    George      60.8       10.36          90
315  Houston      70.0       10.36          90
478   Knysna      60.8       10.36          90

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# hotel inforamtion
hotel_loc = pd.DataFrame(dataNA, columns=["City", "Country", "Lat", "Lng"])

hotel_loc["Hotel"] = ""
hotel_loc.head()

            City Country      Lat       Lng Hotel
0         Tigil'      RU  57.8000  158.6667
1     Codrington      AU -38.2667  141.9667
2  Mar del Plata      AR -38.0023  -57.5575
3         Casino      AU -28.8667  153.0500
4      Hithadhoo      MV  -0.6000   73.0833

In [11]:
from prettytable import prettytable

In [12]:
Hotel_loc = []

params = {
    "keyword": "hotel",
    "radius": 500,
    "type": "hotel",
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_loc.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    address = requests.get(base_url, params=params)
    name_address = address.json()
    try:
        Hotel_loc.append(name_address['results'][0]['name'])
    except IndexError:
        Hotel_loc.append(np.nan)

In [13]:
hotel_loc['Hotel']= hotel_loc
hotel_loc.dropna()
hotel_loc.to_csv('hotel_list.csv')
hotel_loc

,City,Country,Lat,Lng,Hotel
0,Tigil',RU,57.8000,158.6667,Tigil'
1,Codrington,AU,-38.2667,141.9667,Codrington
2,Mar del Plata,AR,-38.0023,-57.5575,Mar del Plata
3,Casino,AU,-28.8667,153.0500,Casino
4,Hithadhoo,MV,-0.6000,73.0833,Hithadhoo
...,...,...,...,...,...
577,São José da Coroa Grande,BR,-8.8978,-35.1478,São José da Coroa Grande
578,Slavyanka,RU,42.8633,131.3847,Slavyanka
579,Abu Kamal,SY,34.4506,40.9171,Abu Kamal
580,Gualaca,PA,8.5333,-82.3000,Gualaca
581,Praia da Vitória,PT,38.7333,-27.0667,Praia da Vitória

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_loc.iterrows()]
locations = hotel_loc[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))